{% assign size = 50 %}
{% if page.layout == 'home' %}
  {% assign size = 50 %}
{% endif %}

{% capture contributors %}
  {%- if site.github.contributors.size > 0 -%}

    <div class="contributors">
      <ul class="contributors__list">

        {%- assign count = 0 -%}

        {%- for a in site.github.contributors -%}

          {%- if count >= 20 -%}
            {%- assign count = 1 -%}
          {%- else -%}
            {%- assign count = count | plus: 1 -%}
          {%- endif -%}

          <li class="contributors__item">
            <a class="contributors__link avatar--fx-{{ count }}" href="{{ a.html_url }}" title="{{ a.login }} ({{ a.contributions }} contributions)">
              {% avatar user=a.login size={{ size }} %}
            </a>
          </li>

        {%- endfor -%}

      </ul>
    </div>

  {%- endif -%}
{% endcapture %}

{{ contributors }}
