// override algolia styles

.algolia-autocomplete {
  display: block !important; // override algolia’s inline-block
}

// switch right-aligned positioning to lef-aligned
body .algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu {
  left: 0 !important;
  right: auto !important;

  &::before {
    left: 48px !important;
    right: auto !important;
  }
}

// fix mobile styles
body .algolia-autocomplete .ds-dropdown-menu,
body .algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu {
  @include sm {
    position: fixed !important;
    top: 54px !important;
    left: 10px !important;
    right: 10px !important;
    min-width: 0 !important;

    &::before {
      left: 50% !important;
      margin-left: -10px;
    }
  }
}
