.content {
  flex: 1;
}

.content__section {
  padding: 50px 5vw;
  max-width: 60em;
  font-size: 18px;
  margin-top: 60px;
  word-break: break-word;

  tbody th, 
  tbody td {
    word-break: normal;
  }

  > :first-child {
    margin-top: 0;
  }

  // since we use a fixed header bar (60px), we have to move anchor links upwards,
  // so that the page content is not covered by the header bar.
  a[name] {
    position: absolute;
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
  }

  h1[id],
  h2[id],
  h3[id],
  h4[id],
  h5[id],
  h6[id] {
    &::before {
      content: '';
      display: block;
      margin-top: -90px;
      height: 90px;
      visibility: hidden;
      pointer-events: none;
    }
  }

  .metainfos {
    + h1[id],
    + h2[id],
    + h3[id],
    + h4[id],
    + h5[id],
    + h6[id] {
      &::before {
        // equalize the difference of 40px from .metainfos
        // use large numbers to let first anchor always start outside the viewport
        margin-top: -240px;
        height: 200px;
      }
    }
  }

  @include md {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}
