*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #5b98d7;
  color: rgba(0, 0, 0, 0.75);
}

.sidebar--open {
  overflow: hidden;
}

body {
  background: #fff;

  .sidebar--open & {
    overflow: hidden;
  }
}

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-left: 29vw;

  @include md {
    margin-left: 0;
  }
}
