.metainfos {
  display: flex;
  min-width: 100%;
  margin: 40px 0 -20px 0;
}

.metainfos--top {
  margin-top: -20px !important;
  margin-bottom: -40px;
}

.metainfos_col {
}

.metainfos_col--1 {
  flex: 1;
}
