.metainfos {
  display: flex;
  min-width: 100%;
  margin: 2em 0 -1em 0;
}

.metainfos--top {
  margin-top: -1em !important;
  margin-bottom: -2em;
}

.metainfos_col {
}

.metainfos_col--1 {
  flex: 1;
}
