 $easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
 $easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
 $easeInOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);

 $easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
 $easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
 $easeInOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
