<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body>

    <header class="header" role="banner">
      {% include header.html %}
    </header>

    <div class="sidebar">

      <div class="sidebar__header">
        <button class="fold-navigation">
            <i class="fold-navigation__expand">{% include svg/expand.svg %}</i>
            <i class="fold-navigation__compress">{% include svg/compress.svg %}</i>
            <span class="fold-navigation__title">Navigation klappen</span>
        </button>
      </div>

      <div class="sidebar__body">
        {% include sidebar.html %}
      </div>

    </div>

    <div class="body">

      <main class="content" aria-label="Content">
        <div class="content__section">
          {% include content.html %}
        </div>
      </main>

      <footer class="footer">
        <div class="footer__section">
          {% include footer.html %}
        </div>
      </footer>

    </div>

    <div class="cover"></div>

    <!-- docsearch -->
    <script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
    <script>docsearch({
      appId: 'KA4S83EGGX',
      apiKey: '27bcabae898668f3b0412435394d4ee5',
      indexName: 'redaxo_tricks',
      container: '#docsearch',
      maxResultsPerGroup: 25,
      placeholder: 'Tricks durchsuchen',
      translations: {
        button: {
          buttonText: 'Tricks durchsuchen',
          buttonAriaLabel: 'Tricks durchsuchen',
        },
      }
    });</script>

    <!-- scripts -->
    <script src="{{ '/assets/vendor/pjax.js/pjax.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/vendor/prism.js/prism.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>

  </body>

</html>
