<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body>

    <header class="header" role="banner">
      {% include header.html %}
    </header>

    <div class="sidebar">

      <div class="sidebar__header">
      </div>

      <div class="sidebar__body">
        {% include sidebar.html %}
      </div>

    </div>

    <div class="body">

      <main class="content" aria-label="Content">
        <div class="content__section">
          {% include content.html %}
        </div>
      </main>

      <footer class="footer">
        <div class="footer__section">
          {% include footer.html %}
        </div>
      </footer>

    </div>

    <div class="cover"></div>

    <!-- docsearch -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    <script type="text/javascript"> docsearch({
     apiKey: '8151557aef4f704ed7be18edde51bc74',
     indexName: 'redaxo_tricks',
     inputSelector: document.querySelector('.searchfield__input'),
     debug: false
    });
    </script>

    <!-- scripts -->
    <script src="{{ '/assets/vendor/pjax.js/pjax.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/vendor/prism.js/prism.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>

  </body>

</html>
